<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon-big text-center">
                <i class="teal fas fa-users"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="detail text-center">
                <p>Usuarios registrados</p>
                <span class="number">{{estadisticasS.estadisticasHome.usuariosTotales}}</span>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="fas fa-redo-alt"></i> Updated every 30 minutes
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon-big text-center">
                <i class="olive fas fa-female"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="detail text-center">
                <p>Usuarios femeninos</p>
                <span class="number">{{estadisticasS.estadisticasHome.usuariosMujeres}}</span>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="fas fa-calendar"></i> In this current Month
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon-big text-center">
                <i class="violet fas fa-male"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="detail text-center">
                <p>Usuarios masculinos</p>
                <span class="number">{{estadisticasS.estadisticasHome.usuariosHombres}}</span>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="fas fa-stopwatch"></i> In the last 24 Hour
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon-big text-center">
                <i class="orange fas fa-transgender"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="detail text-center">
                <p>Usuarios N/A</p>
                <span class="number">{{estadisticasS.estadisticasHome.usuariosNoDefinidos}}</span>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="fas fa-transgender"></i> Active in the last 7
              days
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="content">
          <div class="head">
            <h4 class="mb-0">Cantidad de registros por fecha</h4>
            <p class="text-muted"></p>
          </div>
          <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"></apx-chart>
          </div>
          <!-- <div class="canvas-wrapper">
            <canvas class="chart" id="trafficflow"></canvas>
          </div>
          <div class="ui hidden divider"></div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="content">
          <div class="head">
            <h4 class="mb-0">Personas por edad</h4>
            <p class="text-muted">Cantidad de personas por edad</p>
          </div>
          <div class="canvas-wrapper">
            <table class="table no-margin bg-lighter-grey">
              <thead class="success">
                <tr>
                  <th>Edades</th>
                  <th class="text-right">No. Personas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let edades of estadisticasS.estadisticasHome.usuariosEdades">
                  <td><i class="flag-icon flag-icon-us"></i> {{edades.edades}}</td>
                  <td class="text-right">{{edades.total}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="dfd text-center">
              <i class="blue large-icon mb-2 fas fa-thumbs-up"></i>
              <h4 class="mb-0">+21,900</h4>
              <p class="text-muted">FACEBOOK PAGE LIKES</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="dfd text-center">
              <i class="orange large-icon mb-2 fas fa-reply-all"></i>
              <h4 class="mb-0">+22,566</h4>
              <p class="text-muted">INSTAGRAM FOLLOWERS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="dfd text-center">
              <i class="grey large-icon mb-2 fas fa-envelope"></i>
              <h4 class="mb-0">+15,566</h4>
              <p class="text-muted">E-MAIL SUBSCRIBERS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="dfd text-center">
              <i class="olive large-icon mb-2 fas fa-dollar-sign"></i>
              <h4 class="mb-0">+98,601</h4>
              <p class="text-muted">TOTAL SALES</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>