<div class="container animated fadeIn">

    <div class="card bg-blue mt-4">
        <div class="card-body">
            <h5 class="p-0 m-0 text-white text-center">
                QUIENES SOMOS
            </h5>
        </div>
    </div>

    <div class="mt-5 px-4">
        <p class="p-0 m-0 text-justify text-white">
            Dritdi es la nueva aplicaciòn de educaciòn 3D desarrollada por Krusty Lab. <br> <br> Nuestro objetivo con este proyecto es aumentar la curva de aprendizaje impartidas en las aulas o autodidactas, utilizando las nuevas herramientas disponibles
            en la actualidad, queremos hacerlo de una manera dinámica, divertida y entretenida.
        </p>
        <br>
        <p class="p-0 m-0 text-justify text-white">
            KrustyLab es una desarrolladora de software mexicana que cuenta con un equipo de programadores y diseñadores enfocados a brindar servicios de calidad para empresas de sector privado/público.
            <br> <br> Adicionalmente también tenemos diferentes proyectos propios como Dritdi, que proveen herramientas y servicios innovadores que faciliten a escuelas de diferentes sectores la enseñanza de multiples temas a traves de aplicaciones inmersivas
            de modelado 3D. <br><br> Constantemente estamos actualizando nuestros servicios y herramientas para brindar una mejor calidad de software y experiencia de usuario a nuestros clientes.
        </p>

    </div>

    <div class="card bg-blue mt-4">
        <div class="card-body">
            <h5 class="p-0 m-0 text-white text-center">
                NUESTRO TEAM
            </h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 pt-4">
            <img src="./assets/img/logo-krusty.png" class="logo-krusty animated infinite pulse low">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">CEO @olivermop</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">Project Manager: Roberto Gonzalez Vargas</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">System Administrator: Dwigth Astacio Hernandez</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">Frontend Developer: Carlos Adrian Garcia Reyes</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">Backend Developer: Adan Barrera Palacios</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">Graphic Arts: Mario Erick Barrera Palacios</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">3D Developer: Ana Cecilia Lopez Alvarèz</span></h3>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <h3 class="text-center"><span class="badge badge-pill badge-primary">3D Developer: David Montores Escalante</span></h3>
        </div>
    </div>

</div>