.logo-krusty {
    width: 9rem;
    margin: auto;
    display: block;
}

.badge-pill {
    width: 90% !important;
    padding: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.15rem !important;
}

p {
    font-size: 1.1rem;
}