<div class="wrapper">
    <div class="auth-content">
        <div class="card animated fadeIn">
            <div class="card-body text-center">
                <div class="mb-4">
                    <img class="brand animated infinite pulse" src="assets/img/logo.png" alt="bootstraper logo" />
                </div>
                <h5 class="mb-1 text-muted">Cambiar Contraseña</h5>

                <form [formGroup]="ResetPasswordForm" (ngSubmit)="Send()">
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control" placeholder="Ingresa tu nueva contraseña"
                            required>
                    </div>
                    <button class="btn w-75 bg-blue text-white shadow-2 mt-4 mb-4" type="submit"
                        [disabled]="!ResetPasswordForm.valid">
                        Cambiar contraseña
                    </button>
                </form>

                <div *ngIf="result.error" class="alert alert-danger" role="alert">
                    {{result.msg}}
                </div>

                <div *ngIf="result.error === false && result.msg != ''" class="alert alert-primary" role="alert">
                    {{result.msg}}
                </div>

            </div>
        </div>
    </div>
</div>