<div class="container-fluid">

    <div class="box box-primary">
        <div class="box-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"
                        aria-controls="general" aria-selected="true">Instituciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="system-tab" data-toggle="tab" href="#system" role="tab"
                        aria-controls="system" aria-selected="false">Dar de alta</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <div class="col-md-12">
                        <input type="search" #searchInput (keyup)="search($event,searchInput.value)"
                            placeholder="Buscar" class="form-control" name="" id="">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">

                                <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
                                    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
                                    (scrolled)="onScrollDown()">

                                    <div *ngFor="let institucion of INSTITUCIONES" class="card">
                                        <div class="card-body">
                                            {{institucion.nombre}}
                                        </div>
                                        <div class="card-footer">
                                            {{institucion.cveInstitucion}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="system" role="tabpanel" aria-labelledby="system-tab">
                    <div class="col-md-8">
                        <form (submit)="Create()" [formGroup]="InstitucionForm" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-2">Nombre de la institución</label>
                                <div class="col-sm-10">
                                    <input formControlName="nombre" type="text" name="" class="form-control">
                                </div>
                            </div>
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <label class="col-sm-2">Siglas de la institución</label>
                                <div class="col-sm-10">
                                    <input formControlName="siglas" type="text" class="form-control">
                                    <small class="form-text text-muted">Siglas comerciales de la institución.</small>
                                </div>
                            </div>
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <label class="col-sm-2">Fecha de expiración de la institución</label>
                                <div class="col-sm-10">
                                    <input formControlName="fecha_exp" type="date" name="" class="form-control">
                                </div>
                            </div>
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button [disabled]="!InstitucionForm.valid" type="submit"
                                        class="btn btn-primary mb-2">
                                        <i class="fas fa-save"></i>
                                        Generar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>