<div class="wrapper bg-img">
    <div class="auth-content">
        <div class="card animated fadeIn">
            <div class="card-body text-center">
                <div class="mb-4">
                    <img class="brand animated infinite pulse" src="assets/img/logo.png" alt="bootstraper logo" /> </div>
                <h5 class="mb-1 text-muted">Cambiar Contraseña</h5>

                <form action="" method="">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Ingresa tu correo" required>
                    </div>
                    <button class="btn w-75 bg-blue text-white shadow-2 mt-4 mb-4">Cambiar</button>
                </form>
                <p class="mb-0 text-muted">¿No tienes una cuenta? <a class="color-blue" routerLink="/signup">Registrate</a></p>
            </div>
        </div>
    </div>
</div>