<div class="wrapper">
  <div class="page vertical-align text-center">
    <div class="page-content vertical-align-middle">
      <header>
        <h1 class="animation-slide-top">500</h1>
        <p>¡Error de servidor interno!</p>
      </header>
      <p class="error-advise">Whoopps, parece que algo ha salido mal.</p>
      <a class="btn btn-primary btn-round mb-5" routerLink="login">Regresar</a>

      <footer class="page-copyright">
        <p>© 2020. TODOS LOS DERECHOS REVERVADOS.</p>
      </footer>
    </div>
  </div>
</div>
