<div class="wrapper bg-dark">
  <div class="page vertical-align text-center">
    <div class="page-content vertical-align-middle animated fadeIn">
      <header>
        <h1 class="animation-slide-top text-white">500</h1>
        <p class="text-white">¡Error de servidor interno!</p>
      </header>
      <p class="error-advise text-white">
        Whoopps, parece que algo ha salido mal.
      </p>
      <a class="btn bg-blue text-white btn-round mb-5 p-3 w-75" routerLink="login">Regresar</a>

      <footer class="page-copyright text-white">
        <p>© 2020. TODOS LOS DERECHOS RESERVADOS.</p>
      </footer>
    </div>
  </div>
</div>

