<div class="wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <img
            class="brand"
            src="assets/img/bootstraper-logo.png"
            alt="bootstraper logo"
          />
        </div>
        <h6 class="mb-4 text-muted">Inicia sesión a tu cuenta</h6>

        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              formControlName="usuario"
              type="email"
              class="form-control"
              placeholder="Correo"
              required
            />
          </div>
          <div class="form-group">
            <input
              formControlName="contrasena"
              type="password"
              class="form-control"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="form-group text-left">
            <div class="custom-control custom-checkbox">
              <input
                formControlName="recordarme"
                type="checkbox"
                name="remember"
                class="custom-control-input"
                id="remember-me"
              />
              <label class="custom-control-label" for="remember-me"
                >Recordarme</label
              >
            </div>
          </div>
          <button
            [disabled]="!LoginForm.valid"
            id="LoginBtn"
            type="submit"
            class="btn btn-primary shadow-2 mb-4"
          >
            Inicia sesión
          </button>
        </form>
        <p class="mb-2 text-muted">
          ¿Olvidaste tu Contraseña?
          <a href="forgot-password">Reestablece tu contraseña</a>
        </p>
        <p class="mb-0 text-muted">
          ¿Aún no tienes una cuenta? <a href="signup">Regístrate</a>
        </p>
      </div>
    </div>
  </div>
</div>
