.card-title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
}

.card {
    align-self: center !important;
    // min-height: 9.5rem !important;
}

.img-tema {
    width: 7rem;
    margin: auto;
    display: block;
    margin-bottom: 1.5rem;
}