<div class="container">

    <div class="card bg-blue mt-4">
        <div class="card-body">
            <h5 class="p-0 m-0 text-white text-center">
                PROXIMOS MODELOS
            </h5>
        </div>
    </div>
    <!-- APARTADO 1 -->


    <h5 class="p-4 m-0 text-white text-center">
        Educación sexual
    </h5>

    <img src="./assets/img/temas/educacion-sexual.png" class="img-tema">

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Capuchón</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Diafragma</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Implante</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Subdérmico</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Como colocar un DIU</h5>
            </div>

        </div>
    </div>

    <!-- APARTADO 2 -->

    <h5 class="p-4 m-0 text-white text-center">
        Bioquimica
    </h5>

    <img src="./assets/img/temas/bioquimica.png" class="img-tema">

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Agua</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Carbohidratos</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lípidos</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Proteínas</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ácido nucleico</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vitaminas</h5>
            </div>

        </div>
    </div>

    <!-- APARTADO 3 -->

    <h5 class="p-4 m-0 text-white text-center">
        Biología
    </h5>

    <img src="./assets/img/temas/biologia.png" class="img-tema">

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mitocondria</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mitosis</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Meiosis</h5>
            </div>

        </div>
    </div>


    <!-- APARTADO 4 -->

    <h5 class="p-4 m-0 text-white text-center">
        Microbiología
    </h5>

    <img src="./assets/img/temas/microbiologia.png" class="img-tema">

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bacterias comunes</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Parásitos comunes</h5>
            </div>

        </div>

    </div>

    <!-- APARTADO 5 -->

    <h5 class="p-4 m-0 text-white text-center">
        Anatomía
    </h5>

    <img src="./assets/img/temas/anatomia.png" class="img-tema">

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sistema digestivo</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Corazón</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ojos</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sistema auditivo</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sistema reproductor masculino</h5>
            </div>

        </div>

    </div>

    <!-- APARTADO 6 -->

    <h5 class="p-4 m-0 text-white text-center">
        Extras
    </h5>

    <img src="./assets/img/temas/extras.png" class="img-tema">

    <div class="card-deck pb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Uso correcto del cubrebocas</h5>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lavado de manos</h5>
            </div>

        </div>

    </div>
</div>